/* ========================================================================
     Component: button-extra
 ========================================================================== */
.btn {
  border-radius: 3px;
  font-size: 13px;
  -webkit-appearance: none;
  outline: none !important;
  transition: all 0.1s;
}
@media screen and (prefers-reduced-motion: reduce) {
  .btn {
    transition: none;
  }
}

.btn-danger {
  background-color: #ca2420;
  border-top-color: #ca2420;
  border-bottom-color: #ca2420;
  border-right-color: #ca2420;
  border-left-color: #ca2420;
}
.btn.btn-link {
  box-shadow: none;
  border: 0;
}
.input-group .btn {
  font-size: 14px;
  border-color: #dde6e9;
}
.input-group .form-control-sm + .input-group-btn .btn {
  font-size: 0.8125rem;
  padding: 0.3125rem 0.625rem;
  margin-left: -1px;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

.btn.btn-warning {
  color: #fff;
}

.btn.btn-outline-warning:hover,
.btn.btn-outline-warning:focus,
.btn.btn-outline-warning:active {
  color: #fff;
}

.btn-secondary,
.calendar-app .fc-button {
  background-color: #fff;
  border-color: #eaeaea;
  color: #333;
}
.btn-secondary:hover,
.calendar-app .fc-button:hover {
  background-color: #f5f5f5;
}
.btn-secondary:not(:disabled):not(.disabled):active,
.calendar-app .fc-button:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled).active,
.calendar-app .fc-button:not(:disabled):not(.disabled).active,
.show > .btn-secondary.dropdown-toggle,
.calendar-app .show > .dropdown-toggle.fc-button {
  background-color: #f5f5f5;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-outline-secondary {
  border-color: #eaeaea !important;
  color: #333;
}
.btn-outline-secondary:hover {
  color: #333;
  background-color: #f5f5f5 !important;
}
.btn-outline-secondary:focus {
  box-shadow: 0 0 0 0.2rem rgba(234, 234, 234, 0.5);
}

span.btn {
  -webkit-appearance: none !important;
}
.btn-inverse {
  color: #fff;
  background-color: #131e26;
  border-color: #131e26;
}
.btn-inverse:hover {
  color: #fff;
  background-color: #060a0d;
  border-color: #020304;
}
.btn-inverse:focus,
.btn-inverse.focus {
  box-shadow: 0 0 0 #000;
}
.btn-inverse.disabled,
.btn-inverse:disabled {
  color: #fff;
  background-color: #131e26;
  border-color: #131e26;
}
.btn-inverse:not(:disabled):not(.disabled):active,
.btn-inverse:not(:disabled):not(.disabled).active,
.show > .btn-inverse.dropdown-toggle {
  color: #fff;
  background-color: #020304;
  border-color: black;
}
.btn-inverse:not(:disabled):not(.disabled):active:focus,
.btn-inverse:not(:disabled):not(.disabled).active:focus,
.show > .btn-inverse.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-green {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-green:hover {
  color: #fff;
  background-color: #2e9e83;
  border-color: #2b957a;
}
.btn-green:focus,
.btn-green.focus {
  box-shadow: 0 0 0 #000;
}
.btn-green.disabled,
.btn-green:disabled {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-green:not(:disabled):not(.disabled):active,
.btn-green:not(:disabled):not(.disabled).active,
.show > .btn-green.dropdown-toggle {
  color: #fff;
  background-color: #2b957a;
  border-color: #298b72;
}
.btn-green:not(:disabled):not(.disabled):active:focus,
.btn-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-green.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-purple {
  color: #fff;
  background-color: #7266ba;
  border-color: #7266ba;
}
.btn-purple:hover {
  color: #fff;
  background-color: #5b4eac;
  border-color: #564aa3;
}
.btn-purple:focus,
.btn-purple.focus {
  box-shadow: 0 0 0 #000;
}
.btn-purple.disabled,
.btn-purple:disabled {
  color: #fff;
  background-color: #7266ba;
  border-color: #7266ba;
}
.btn-purple:not(:disabled):not(.disabled):active,
.btn-purple:not(:disabled):not(.disabled).active,
.show > .btn-purple.dropdown-toggle {
  color: #fff;
  background-color: #564aa3;
  border-color: #52469b;
}
.btn-purple:not(:disabled):not(.disabled):active:focus,
.btn-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-purple.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-pink {
  color: #fff;
  background-color: #f532e5;
  border-color: #f532e5;
}
.btn-pink:hover {
  color: #fff;
  background-color: #f30ee0;
  border-color: #e90bd6;
}
.btn-pink:focus,
.btn-pink.focus {
  box-shadow: 0 0 0 #000;
}
.btn-pink.disabled,
.btn-pink:disabled {
  color: #fff;
  background-color: #f532e5;
  border-color: #f532e5;
}
.btn-pink:not(:disabled):not(.disabled):active,
.btn-pink:not(:disabled):not(.disabled).active,
.show > .btn-pink.dropdown-toggle {
  color: #fff;
  background-color: #e90bd6;
  border-color: #dc0bcb;
}
.btn-pink:not(:disabled):not(.disabled):active:focus,
.btn-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-pink.dropdown-toggle:focus {
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.125);
}

.btn-flat {
  border-bottom-width: 1px;
  border-radius: 0;
  box-shadow: 0 0 0 #000;
}

.btn-xs {
  padding: 0.0625rem 0.3125rem;
  font-size: 0.8125rem;
  line-height: 1.5;
}

.btn-xl {
  padding: 20px 16px;
  font-size: 18px;
}

.btn-square {
  border-radius: 0;
}

.btn-pill-left,
.btn-oval {
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding-left: 18px;
}

.btn-pill-right,
.btn-oval {
  border-top-right-radius: 50px;
  border-bottom-right-radius: 50px;
  padding-right: 18px;
}

.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}

.btn-label {
  position: relative;
  background: rgba(0, 0, 0, 0.05);
  display: inline-block;
  padding: 0.375rem 1rem;
  left: -1rem;
  border-radius: 0.25rem 0 0 0.25rem;
}
.btn-label.btn-label-right {
  left: auto;
  right: -1rem;
  border-radius: 0 0.25rem 0.25rem 0;
}

.btn-lg .btn-label {
  padding: 0.625rem 1.25rem;
  left: -1.25rem;
  border-radius: 0.375rem 0 0 0.375rem;
}
.btn-lg .btn-label.btn-label-right {
  left: auto;
  right: -1.25rem;
  border-radius: 0 0.375rem 0.375rem 0;
}

.btn-sm .btn-label,
.calendar-app .fc-button .btn-label {
  padding: 0.3125rem 0.625rem;
  left: -0.625rem;
  border-radius: 0.2rem 0 0 0.2rem;
}
.btn-sm .btn-label.btn-label-right,
.calendar-app .fc-button .btn-label.btn-label-right {
  left: auto;
  right: -0.625rem;
  border-radius: 0 0.2rem 0.2rem 0;
}

.btn-xs .btn-label {
  padding: 1px 5px;
  left: -5px;
  border-radius: 0.2rem 0 0 0.2rem;
}
.btn-xs .btn-label.btn-label-right {
  left: auto;
  right: -5px;
  border-radius: 0 0.2rem 0.2rem 0;
}

.btn-fw {
  min-width: 80px;
}
.btn-fw.btn-sm,
.calendar-app .btn-fw.fc-button {
  min-width: 40px;
}
.btn-fw.btn-md {
  min-width: 60px;
}
.btn-fw.btn-lg {
  min-width: 140px;
}

.btn-circle {
  width: 35px;
  height: 35px;
  text-align: center;
  font-size: 12px;
  line-height: 35px;
  border-radius: 500px;
  padding: 0;
  border: 0;
}
.btn-circle > * {
  line-height: inherit !important;
}
.btn-circle.btn-lg {
  width: 50px;
  height: 50px;
  font-size: 18px;
  line-height: 50px;
}

.btn-outline-inverse {
  color: #131e26;
  background-color: transparent;
  background-image: none;
  border-color: #131e26;
}
.btn-outline-inverse:hover {
  color: #fff;
  background-color: #131e26;
  border-color: #131e26;
}
.btn-outline-inverse:focus,
.btn-outline-inverse.focus {
  box-shadow: inset 0 3px 5px rgba(19, 30, 38, 0.125);
}
.btn-outline-inverse.disabled,
.btn-outline-inverse:disabled {
  color: #131e26;
  background-color: transparent;
}
.btn-outline-inverse:not(:disabled):not(.disabled):active,
.btn-outline-inverse:not(:disabled):not(.disabled).active,
.show > .btn-outline-inverse.dropdown-toggle {
  color: #fff;
  background-color: #131e26;
  border-color: #131e26;
}
.btn-outline-inverse:not(:disabled):not(.disabled):active:focus,
.btn-outline-inverse:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-inverse.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(19, 30, 38, 0.5);
}

.btn-outline-green {
  color: #37bc9b;
  background-color: transparent;
  background-image: none;
  border-color: #37bc9b;
}
.btn-outline-green:hover {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-outline-green:focus,
.btn-outline-green.focus {
  box-shadow: inset 0 3px 5px rgba(55, 188, 155, 0.125);
}
.btn-outline-green.disabled,
.btn-outline-green:disabled {
  color: #37bc9b;
  background-color: transparent;
}
.btn-outline-green:not(:disabled):not(.disabled):active,
.btn-outline-green:not(:disabled):not(.disabled).active,
.show > .btn-outline-green.dropdown-toggle {
  color: #fff;
  background-color: #37bc9b;
  border-color: #37bc9b;
}
.btn-outline-green:not(:disabled):not(.disabled):active:focus,
.btn-outline-green:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-green.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(55, 188, 155, 0.5);
}

.btn-outline-purple {
  color: #7266ba;
  background-color: transparent;
  background-image: none;
  border-color: #7266ba;
}
.btn-outline-purple:hover {
  color: #fff;
  background-color: #7266ba;
  border-color: #7266ba;
}
.btn-outline-purple:focus,
.btn-outline-purple.focus {
  box-shadow: inset 0 3px 5px rgba(114, 102, 186, 0.125);
}
.btn-outline-purple.disabled,
.btn-outline-purple:disabled {
  color: #7266ba;
  background-color: transparent;
}
.btn-outline-purple:not(:disabled):not(.disabled):active,
.btn-outline-purple:not(:disabled):not(.disabled).active,
.show > .btn-outline-purple.dropdown-toggle {
  color: #fff;
  background-color: #7266ba;
  border-color: #7266ba;
}
.btn-outline-purple:not(:disabled):not(.disabled):active:focus,
.btn-outline-purple:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-purple.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(114, 102, 186, 0.5);
}

.btn-outline-pink {
  color: #f532e5;
  background-color: transparent;
  background-image: none;
  border-color: #f532e5;
}
.btn-outline-pink:hover {
  color: #fff;
  background-color: #f532e5;
  border-color: #f532e5;
}
.btn-outline-pink:focus,
.btn-outline-pink.focus {
  box-shadow: inset 0 3px 5px rgba(245, 50, 229, 0.125);
}
.btn-outline-pink.disabled,
.btn-outline-pink:disabled {
  color: #f532e5;
  background-color: transparent;
}
.btn-outline-pink:not(:disabled):not(.disabled):active,
.btn-outline-pink:not(:disabled):not(.disabled).active,
.show > .btn-outline-pink.dropdown-toggle {
  color: #fff;
  background-color: #f532e5;
  border-color: #f532e5;
}
.btn-outline-pink:not(:disabled):not(.disabled):active:focus,
.btn-outline-pink:not(:disabled):not(.disabled).active:focus,
.show > .btn-outline-pink.dropdown-toggle:focus {
  box-shadow: 0 0 0 0.2rem rgba(245, 50, 229, 0.5);
}
