/* ========================================================================
         Component: utils
 ========================================================================== */
.b0 {
  border-width: 0 !important;
}

.bl0 {
  border-left-width: 0 !important;
}

.br0 {
  border-right-width: 0 !important;
}

.bt0 {
  border-top-width: 0 !important;
}

.bb0 {
  border-bottom-width: 0 !important;
}

.br,
.b,
.ba {
  border-right: 1px solid rgba(0, 0, 0, 0.12);
}

.bl,
.b,
.ba {
  border-left: 1px solid rgba(0, 0, 0, 0.12);
}

.bt,
.b,
.ba {
  border-top: 1px solid rgba(0, 0, 0, 0.12);
}

.bb,
.b,
.ba {
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
}

.text-primary {
  color: #5d9cec !important;
}

.text-success {
  color: #27c24c !important;
}

.text-info {
  color: #23b7e5 !important;
}

.text-warning {
  color: #ff902b !important;
}

.text-danger {
  color: #f05050 !important;
}

.text-white {
  color: #fff !important;
}

.text-inverse {
  color: #131e26 !important;
}

.text-alpha {
  color: rgba(255, 255, 255, 0.5) !important;
}

.text-pink {
  color: #f532e5 !important;
}

.text-purple {
  color: #7266ba !important;
}

.text-dark {
  color: #3a3f51 !important;
}

.text-alpha-inverse {
  color: rgba(0, 0, 0, 0.5) !important;
}

.text-green {
  color: #37bc9b !important;
}

.text-yellow {
  color: #fad732 !important;
}

.text-gray-darker {
  color: #232735 !important;
}

.text-gray-dark {
  color: #3a3f51 !important;
}

.text-gray {
  color: #dde6e9 !important;
}

.text-gray-light {
  color: #e4eaec !important;
}

.text-gray-lighter {
  color: #edf1f2 !important;
}

.text-inherit {
  color: inherit !important;
}

.text-sm {
  font-size: 0.74375rem;
}

.text-md {
  font-size: 1.6625rem;
}

.text-lg {
  font-size: 2.625rem;
}

.text-nowrap {
  white-space: nowrap;
}

.text-thin {
  font-weight: 100 !important;
}

.text-normal {
  font-weight: normal !important;
}

.text-bold {
  font-weight: bold !important;
}

.inline {
  display: inline-block !important;
}

.block-center {
  margin: 0 auto;
}

.bg-primary {
  background-color: #5d9cec;
  color: #fff !important;
}

.bg-primary-light {
  background-color: #8bb8f1;
  color: #fff !important;
}

.bg-primary-dark {
  background-color: #2f80e7;
  color: #fff !important;
}

.bg-primary small {
  color: inherit;
}

.bg-success {
  background-color: #27c24c;
  color: #fff !important;
}

.bg-success-light {
  background-color: #43d967;
  color: #fff !important;
}

.bg-success-dark {
  background-color: #1e983b;
  color: #fff !important;
}

.bg-success small {
  color: inherit;
}

.bg-info {
  background-color: #23b7e5;
  color: #fff !important;
}

.bg-info-light {
  background-color: #51c6ea;
  color: #fff !important;
}

.bg-info-dark {
  background-color: #1797be;
  color: #fff !important;
}

.bg-info small {
  color: inherit;
}

.bg-warning {
  background-color: #ff902b;
  color: #fff !important;
}

.bg-warning-light {
  background-color: #ffab5e;
  color: #fff !important;
}

.bg-warning-dark {
  background-color: #f77600;
  color: #fff !important;
}

.bg-warning small {
  color: inherit;
}

.bg-danger {
  background-color: #f05050;
  color: #fff !important;
}

.bg-danger-light {
  background-color: #f47f7f;
  color: #fff !important;
}

.bg-danger-dark {
  background-color: #ec2121;
  color: #fff !important;
}

.bg-danger small {
  color: inherit;
}

.bg-green {
  background-color: #37bc9b;
  color: #fff !important;
}

.bg-green-light {
  background-color: #58ceb1;
  color: #fff !important;
}

.bg-green-dark {
  background-color: #2b957a;
  color: #fff !important;
}

.bg-green small {
  color: inherit;
}

.bg-pink {
  background-color: #f532e5;
  color: #fff !important;
}

.bg-pink-light {
  background-color: #f763eb;
  color: #fff !important;
}

.bg-pink-dark {
  background-color: #e90bd6;
  color: #fff !important;
}

.bg-pink small {
  color: inherit;
}

.bg-purple {
  background-color: #7266ba;
  color: #fff !important;
}

.bg-purple-light {
  background-color: #9289ca;
  color: #fff !important;
}

.bg-purple-dark {
  background-color: #564aa3;
  color: #fff !important;
}

.bg-purple small {
  color: inherit;
}

.bg-inverse {
  background-color: #131e26;
  color: #fff !important;
}

.bg-inverse-light {
  background-color: #243948;
  color: #fff !important;
}

.bg-inverse-dark {
  background-color: #020304;
  color: #fff !important;
}

.bg-inverse small {
  color: inherit;
}

.bg-yellow {
  background-color: #fad732;
  color: #fff !important;
}

.bg-yellow-light {
  background-color: #fbe164;
  color: #fff !important;
}

.bg-yellow-dark {
  background-color: #f3ca06;
  color: #fff !important;
}

.bg-yellow small {
  color: inherit;
}

.bg-white {
  background-color: #fff;
  color: inherit !important;
}

.bg-gray-darker {
  background-color: #232735;
  color: #fff !important;
}

.bg-gray-dark {
  background-color: #3a3f51;
  color: #fff !important;
}

.bg-gray {
  background-color: #dde6e9;
  color: #656565 !important;
}

.bg-gray-light {
  background-color: #e4eaec;
  color: #656565 !important;
}

.bg-gray-lighter {
  background-color: #edf1f2;
  color: #656565 !important;
}

.bg-transparent {
  background-color: transparent !important;
}

.bg-cover {
  background-size: cover;
}

.thumb8 {
  width: 8px !important;
  height: 8px !important;
}

.thumb16 {
  width: 16px !important;
  height: 16px !important;
}

.thumb24 {
  width: 24px !important;
  height: 24px !important;
}

.thumb32 {
  width: 32px !important;
  height: 32px !important;
}

.thumb48 {
  width: 48px !important;
  height: 48px !important;
}

.thumb64 {
  width: 64px !important;
  height: 64px !important;
}

.thumb80 {
  width: 80px !important;
  height: 80px !important;
}

.thumb96 {
  width: 96px !important;
  height: 96px !important;
}

.thumb128 {
  width: 128px !important;
  height: 128px !important;
}

.align-middle {
  vertical-align: middle;
}

.align-top {
  vertical-align: top;
}

.align-bottom {
  vertical-align: bottom;
}

.bg-center {
  background-position: center center;
  background-size: cover;
}

.list-icon em {
  font-size: 14px;
  width: 40px;
  vertical-align: middle;
  margin: 0;
  display: inline-block;
  text-align: center;
  transition: all 0.2s;
  line-height: 30px;
}
@media screen and (prefers-reduced-motion: reduce) {
  .list-icon em {
    transition: none;
  }
}

.list-icon div:hover em {
  transform: scale(3, 3);
}

.d-table-fixed {
  table-layout: fixed;
}

.wd-xxs {
  width: 60px;
}

.wd-xs {
  width: 90px;
}

.wd-sm {
  width: 150px;
}

.wd-sd {
  width: 200px;
}

.wd-md {
  width: 240px;
}

.wd-lg {
  width: 280px;
}

.wd-xl {
  width: 320px;
}

.wd-xxl {
  width: 360px;
}

.wd-wide {
  width: 100%;
}

.wd-auto {
  width: auto;
}

.wd-zero {
  width: 0;
}

.clickable {
  cursor: pointer;
}

.abs-center-container {
  position: relative;
}

.abs-center {
  height: 50%;
  overflow: auto;
  margin: auto;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
.abs-center.abs-fixed {
  position: fixed;
  z-index: 999;
}
.abs-center.abs-right {
  left: auto;
  right: 20px;
  text-align: right;
}
.abs-center.abs-left {
  right: auto;
  left: 20px;
  text-align: left;
}

@media (max-height: 720px) {
  .abs-center {
    position: relative;
  }
}

.link-unstyled {
  text-decoration: none !important;
  outline: none !important;
}

.no-resize {
  resize: none;
  max-width: 100%;
  min-width: 100%;
}
