@charset "UTF-8";
/* ========================================================================
     Component: layout
 ========================================================================== */
@import url(
  //fonts.googleapis.com/css?family=Source + Sans + Pro:300,
  400,
  600,
  400italic
);
html {
  /* $replace rtl */
  direction: ltr;
  height: 100%;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  font-size: 16px;
}

html,
body {
  height: 100%;
}

.wrapper {
  position: relative;
  width: 100%;
  height: auto;
  min-height: 100%;
  overflow-x: hidden;
}
.wrapper.ng-leave {
  display: none;
}
.wrapper .aside-container {
  position: absolute;
  width: 220px;
  top: 0;
  left: 0;
  bottom: 0;
  z-index: 116;
  backface-visibility: hidden;
  background-color: #fff;
}
.wrapper .aside-container .aside-inner {
  padding-top: 55px;
  height: 100%;
  width: 220px;
  overflow: hidden;
}
.wrapper .aside-container .nav-floating {
  left: inherit;
  margin-left: 220px;
  z-index: 1110;
  min-width: 190px;
  overflow: auto;
}
.wrapper .dropdown-backdrop {
  z-index: 109;
}
.wrapper .section-container {
  position: relative;
  height: 100%;
  margin-left: 0;
  z-index: 111;
  background-color: #f5f7fa;
  margin-bottom: 60px !important;
}
.wrapper .footer-container {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 60px;
  border-top: 1px solid #e4eaec;
  padding: 20px;
  z-index: 109;
  font-size: 0.875rem;
}
.wrapper .footer-container p {
  margin: 0;
}

.modal-open .wrapper {
  z-index: 0;
}

.content-wrapper {
  padding: 15px;
  width: 100%;
  border-top: 1px solid rgba(0, 0, 0, 0.15);
  margin-top: -1px;
}
.content-wrapper .unwrap {
  margin: -15px;
}
@media (min-width: 768px) {
  .content-wrapper .unwrap {
    margin: -20px;
  }
}
.content-wrapper .content-heading {
  display: flex;
  align-items: center;
  font-size: 1.5rem;
  line-height: 1.1;
  color: #929292;
  margin: -15px;
  margin-bottom: 20px;
  padding: 15px;
  font-weight: normal;
  background-color: #fafbfc;
  border-bottom: 1px solid #cfdbe2;
}
.content-wrapper .content-heading small {
  display: block;
  font-size: 12px;
  color: #909fa7;
}
.content-wrapper .container,
.content-wrapper .container-fluid {
  padding-left: 0;
  padding-right: 0;
}
@media (min-width: 768px) {
  .content-wrapper {
    padding: 20px;
  }
  .content-wrapper .content-heading {
    margin: -20px;
    margin-bottom: 20px;
    padding: 20px;
  }
  .content-wrapper .content-heading button,
  .content-wrapper .content-heading .btn {
    margin: 0;
  }
}

@media (min-width: 768px) {
  body {
    min-height: 100%;
  }
  .wrapper .section-container,
  .wrapper .footer-container {
    margin-left: 220px;
  }
  .wrapper .section-container.has-sidebar-right {
    margin-right: 240px;
  }
  .wrapper .section-container.has-sidebar-right + .offsidebar {
    z-index: 1;
  }
}

@media (max-width: 767.98px) {
  .wrapper .aside-container {
    margin-left: -220px;
  }
  .aside-toggled .wrapper .section-container,
  .aside-toggled .wrapper .footer-container {
    margin-left: 220px;
  }
  .aside-toggled .wrapper .aside-container {
    margin-left: 0;
  }
  .csstransforms3d .wrapper {
    backface-visibility: hidden;
  }
  .csstransforms3d .wrapper .section-container,
  .csstransforms3d .wrapper .footer-container {
    margin-left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease;
  }
  .csstransforms3d .wrapper .aside-container {
    margin-left: 0;
    transform: translate3d(-220px, 0, 0);
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-toggled .wrapper .section-container,
  .csstransforms3d .aside-toggled .wrapper .footer-container {
    transform: translate3d(220px, 0, 0);
  }
  .csstransforms3d .aside-toggled .wrapper .aside-container {
    transform: translate3d(0, 0, 0);
  }
}

@media (max-width: 767.98px) {
  .aside-collapsed .wrapper .aside-container {
    margin-left: -70px;
  }
  .aside-collapsed.aside-toggled .wrapper .section-container,
  .aside-collapsed.aside-toggled .wrapper .footer-container {
    margin-left: 70px;
  }
  .aside-collapsed.aside-toggled .wrapper .aside-container {
    margin-left: 0;
  }
  .csstransforms3d .aside-collapsed .wrapper {
    backface-visibility: hidden;
  }
  .csstransforms3d .aside-collapsed .wrapper .section-container,
  .csstransforms3d .aside-collapsed .wrapper .footer-container {
    margin-left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-collapsed .wrapper .aside-container {
    margin-left: 0;
    transform: translate3d(-70px, 0, 0);
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper .section-container,
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper .footer-container {
    transform: translate3d(70px, 0, 0);
  }
  .csstransforms3d .aside-collapsed.aside-toggled .wrapper .aside-container {
    transform: translate3d(0, 0, 0);
  }
}

.aside-collapsed {
  overflow-y: auto;
}
.aside-collapsed .wrapper .aside-container,
.aside-collapsed .wrapper .aside-container .aside-inner {
  width: 70px;
}
.aside-collapsed .wrapper .aside-container .nav-floating {
  margin-left: 70px;
}

@media (min-width: 768px) {
  .aside-collapsed .wrapper .section-container,
  .aside-collapsed .wrapper .footer-container {
    margin-left: 70px;
  }
}

@media (max-width: 767.98px) {
  .aside-collapsed-text .wrapper .aside-container {
    margin-left: -90px;
  }
  .aside-collapsed-text.aside-toggled .wrapper .section-container,
  .aside-collapsed-text.aside-toggled .wrapper .footer-container {
    margin-left: 90px;
  }
  .aside-collapsed-text.aside-toggled .wrapper .aside-container {
    margin-left: 0;
  }
  .csstransforms3d .aside-collapsed-text .wrapper {
    backface-visibility: hidden;
  }
  .csstransforms3d .aside-collapsed-text .wrapper .section-container,
  .csstransforms3d .aside-collapsed-text .wrapper .footer-container {
    margin-left: 0;
    transform: translate3d(0, 0, 0);
    transition: transform 0.3s ease;
  }
  .csstransforms3d .aside-collapsed-text .wrapper .aside-container {
    margin-left: 0;
    transform: translate3d(-90px, 0, 0);
    transition: transform 0.3s ease;
  }
  .csstransforms3d
    .aside-collapsed-text.aside-toggled
    .wrapper
    .section-container,
  .csstransforms3d
    .aside-collapsed-text.aside-toggled
    .wrapper
    .footer-container {
    transform: translate3d(90px, 0, 0);
  }
  .csstransforms3d
    .aside-collapsed-text.aside-toggled
    .wrapper
    .aside-container {
    transform: translate3d(0, 0, 0);
  }
}

.aside-collapsed-text {
  overflow-y: auto;
}
.aside-collapsed-text .wrapper .aside-container,
.aside-collapsed-text .wrapper .aside-container .aside-inner {
  width: 90px;
}
.aside-collapsed-text .wrapper .aside-container .nav-floating {
  margin-left: 90px;
}

@media (min-width: 768px) {
  .aside-collapsed-text .wrapper .section-container,
  .aside-collapsed-text .wrapper .footer-container {
    margin-left: 90px;
  }
}

@media (max-width: 1140px) {
  .layout-fixed.aside-toggled,
  .layout-fixed.offsidebar-open {
    overflow-y: hidden;
  }
}

.layout-fixed .wrapper .topnavbar-wrapper {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 121;
}
.layout-fixed .wrapper .aside-container,
.layout-fixed .wrapper .offsidebar {
  position: fixed;
}
.layout-fixed .wrapper .aside-container {
  /* safari fix */
  height: 1px;
  min-height: 100%;
  /* ios blanks space fix */
}
.layout-fixed .wrapper .aside-container .aside-inner {
  position: fixed;
  top: 0;
  bottom: 0;
}
.layout-fixed .wrapper .section-container {
  margin-top: 55px;
}

/* IE10+ hack: safari fix breaks ie so we need to target ie only to restore */
_:-ms-lang(x),
.layout-fixed .wrapper .aside-container .aside-inner {
  position: static !important;
}

@media (min-width: 992px) {
  .layout-boxed {
    overflow: auto !important;
  }
  .layout-boxed .wrapper {
    margin: 0 auto;
    overflow: hidden;
    box-shadow: 0 0 13px rgba(0, 0, 0, 0.25);
  }
  .layout-boxed .wrapper .offsidebar {
    position: absolute !important;
  }
  .layout-boxed .wrapper .aside-container {
    left: inherit;
  }
  .layout-boxed .wrapper,
  .layout-boxed .wrapper .topnavbar-wrapper {
    width: 970px;
  }
  .layout-boxed.layout-fixed .wrapper .aside-container .aside-inner {
    left: inherit;
  }
}

@media (min-width: 1200px) {
  .layout-boxed .wrapper,
  .layout-boxed .wrapper .topnavbar-wrapper {
    width: 1140px;
  }
}

/* ========================================================================
   Component: layout-extra
 ========================================================================== */
 .hidden-footer .wrapper .footer-container {
  display: none;
}

.layout-h .wrapper .footer-container {
  margin: 0;
}

.aside-float .wrapper .footer-container {
  border: 0;
}

@media (min-width: 768px) {
  .aside-float .wrapper .section-container {
    padding-left: 15px;
  }
  .aside-float .wrapper .footer-container {
    left: 15px;
  }
}
.aside-float .wrapper .content-wrapper {
  border: 0;
}
.aside-float .wrapper .content-wrapper .content-heading {
  padding-top: 30px;
  border: 0;
  background-color: transparent;
}
.aside-float .wrapper .content-wrapper .unwrap {
  margin: 0 !important;
}

.aside-float.aside-toggled .wrapper .aside-container {
  transition: delay(0.05s);
}
.aside-float.aside-toggled .wrapper .aside-container .aside-inner {
  margin-left: 15px;
}

.aside-float.aside-toggled .wrapper .section-container {
  padding-left: 15px;
}

.aside-float.aside-toggled .wrapper .footer-container {
  left: 15px;
}
/* ========================================================================
   Component: layout-animation.less
 ========================================================================== */
.wrapper .aside-container {
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1),
    translate 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}
@media screen and (prefers-reduced-motion: reduce) {
  .wrapper .aside-container {
    transition: none;
  }
}

.aside-inner,
.navbar-header,
.sidebar > .sidebar-nav > li {
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.wrapper .section-container {
  transition: margin-left 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.sidebar > .sidebar-nav .badge {
  animation: fadeInRight 1s;
  animation-fill-mode: both;
}

.aside-collapsed .sidebar > .sidebar-nav .badge,
.aside-collapsed-text .sidebar > .sidebar-nav .badge {
  animation: fadeIn 1s;
}

.sidebar .sidebar-nav > li > a {
  animation: fadeInLeft 0.5s;
}

.sidebar > .sidebar-nav > .nav-heading,
.sidebar > .sidebar-nav > li > a > span,
.navbar-brand .brand-logo {
  animation: fadeIn 1s;
}

.sidebar li > a,
.sidebar li > .nav-item,
.sidebar > .sidebar-nav > .nav-heading {
  white-space: nowrap;
}

.aside-collapsed .user-block-picture,
.aside-collapsed-text .user-block-picture {
  transition: width 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

.aside-collapsed .user-block,
.aside-collapsed-text .user-block {
  transition: padding 0.2s cubic-bezier(0.35, 0, 0.25, 1);
}

/* ========================================================================
     Component: top-navbar
 ========================================================================== */
.topnavbar {
  -webkit-backface-visibility: hidden;
  /* fixes chrome jump */
  margin-bottom: 0;
  border-radius: 0;
  z-index: 1050;
  border: 0;
  padding: 0;
  min-height: 55px;
  background-color: #23b7e5;
  background-image: linear-gradient(to right, #23b7e5 0%, #51c6ea 100%);
  background-repeat: repeat-x;
}
@media (min-width: 768px) {
  .topnavbar .navbar-header {
    width: 220px;
    text-align: center;
  }
  .topnavbar .navbar-header .navbar-brand {
    width: 100%;
  }
}

.topnavbar {
  position: relative;
}
.topnavbar .navbar-header {
  background-color: transparent;
}
@media (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
  }
}
.topnavbar .navbar-header {
  position: relative;
  z-index: 11;
  padding-left: 2rem;
}
@media (min-width: 768px) {
  .topnavbar .navbar-header {
    padding-left: 0;
  }
}
.topnavbar .navbar-header .navbar-brand {
  padding: 0;
}
.topnavbar .navbar-header .brand-logo > img,
.topnavbar .navbar-header .brand-logo-collapsed > img {
  margin: 0 auto;
}
.topnavbar .navbar-header .brand-logo {
  display: block;
  padding: 10px 15px;
}
.topnavbar .navbar-header .brand-logo-collapsed {
  display: none;
  padding: 6px 15px;
}
.topnavbar .dropdown {
  position: static;
}
.topnavbar .dropdown .dropdown-menu {
  position: absolute;
  margin-top: 0;
  top: auto;
  left: 0;
  right: 0;
}
@media (min-width: 992px) {
  .topnavbar .dropdown {
    position: relative;
  }
  .topnavbar .dropdown .dropdown-menu {
    top: 54px;
    left: 0;
    right: auto;
  }
  .topnavbar .dropdown .dropdown-menu-right {
    right: 0;
    left: auto;
  }
}
.topnavbar .navbar-nav > .nav-item > .navbar-text {
  color: #fff;
}
.topnavbar .navbar-nav > .nav-item > .nav-link {
  padding: 1.1rem 0.95rem;
  font-size: 0.85rem;
}
.topnavbar .navbar-nav > .nav-item > .nav-link,
.topnavbar .navbar-nav > .nav-item.show > .nav-link {
  color: #fff;
}
.topnavbar .navbar-nav > .nav-item > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item > .nav-link:focus,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
  color: #117391;
}
.topnavbar .navbar-nav > .nav-item.active > .nav-link,
.topnavbar .navbar-nav > .nav-item.active > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item.active > .nav-link:focus,
.topnavbar .navbar-nav > .nav-item.show > .nav-link,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
.topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
  background-color: transparent;
}
.topnavbar .navbar-nav > li > [data-toggle="navbar-search"] {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 20;
  font-size: 16px;
  line-height: 55px;
  color: #fff;
  padding-top: 0;
  padding-bottom: 0;
  transition: color 0.3s ease;
}
@media screen and (prefers-reduced-motion: reduce) {
  .topnavbar .navbar-nav > li > [data-toggle="navbar-search"] {
    transition: none;
  }
}
@media (min-width: 768px) {
  .topnavbar .navbar-nav > li > [data-toggle="navbar-search"] {
    color: #fff;
  }
}
@media (max-width: 767.98px) {
  .topnavbar .navbar-text {
    margin: 10px;
  }
}

.layout-h .topnavbar .navbar-header {
  display: flex;
  width: 100%;
  padding: 0;
  text-align: left;
}
@media (min-width: 992px) {
  .layout-h .topnavbar .navbar-header {
    width: auto;
  }
}

.layout-h .topnavbar .navbar-toggler {
  border: 0;
  margin-left: auto;
}
.layout-h .topnavbar .navbar-toggler .navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,<svg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'><path stroke='rgba(255, 255, 255, 0.75)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/></svg>");
}

@media (max-width: 991.98px) {
  .layout-h .topnavbar .dropdown-menu {
    left: 0 !important;
    right: 0 !important;
  }
}

@media (max-width: 767.98px) {
  .sidebar-toggle {
    position: absolute !important;
    top: 2px;
    left: 0;
    z-index: 3001;
  }
  .sidebar-toggle > em {
    color: white;
  }
}

.topnavbar .navbar-form {
  position: absolute;
  top: -100%;
  left: 0;
  right: 0;
  margin: 0;
  padding: 0;
  height: 55px;
  z-index: 9001;
  transition: all 0.3s;
  border: 0;
  border-bottom: 1px solid #e1e2e3;
}
.topnavbar .navbar-form .form-group {
  height: 100%;
  width: 100%;
}
.topnavbar .navbar-form .form-control {
  height: 100%;
  border: 0;
  border-radius: 0;
  width: 100%;
}
.topnavbar .navbar-form.open {
  top: 0;
}
.topnavbar .navbar-form .navbar-form-close {
  position: absolute;
  height: 30px;
  cursor: pointer;
  top: 50%;
  right: 0;
  margin-top: -15px;
  line-height: 30px;
  margin-right: 10px;
  color: #c1c2c3;
  font-size: 1.5em;
  pointer-events: auto;
}

@media (min-width: 768px) {
  .topnavbar .navbar-form {
    left: 220px;
  }
}

@media (min-width: 768px) {
  .topnavbar .navbar-header {
    background-image: none;
    background-repeat: no-repeat;
    filter: none;
  }
  .topnavbar .navbar-nav > a {
    box-shadow: 0 0 0 #000 inset;
    transition: all 0.2s;
  }
}
@media screen and (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .topnavbar .navbar-nav > a {
    transition: none;
  }
}

@media (min-width: 768px) {
  .topnavbar .navbar-nav > .nav-item.show > .nav-link,
  .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
  .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
    box-shadow: 0 -3px 0 #19a5d1 inset;
    transition: all 0.2s;
  }
}
@media screen and (min-width: 768px) and (prefers-reduced-motion: reduce) {
  .topnavbar .navbar-nav > .nav-item.show > .nav-link,
  .topnavbar .navbar-nav > .nav-item.show > .nav-link:hover,
  .topnavbar .navbar-nav > .nav-item.show > .nav-link:focus {
    transition: none;
  }
}

@media (min-width: 768px) {
  .topnavbar .navbar-nav > li > [data-toggle="navbar-search"] {
    position: static;
  }
}

@media (min-width: 768px) {
  .aside-collapsed .topnavbar .navbar-header .brand-logo {
    display: none;
  }
  .aside-collapsed .topnavbar .navbar-header .brand-logo-collapsed {
    display: block;
  }
  .aside-collapsed .topnavbar .navbar-header {
    width: 70px;
  }
  .aside-collapsed .topnavbar .navbar-form {
    left: 70px;
  }
}

@media (min-width: 768px) {
  .aside-collapsed-text .topnavbar .navbar-header .brand-logo {
    display: none;
  }
  .aside-collapsed-text .topnavbar .navbar-header .brand-logo-collapsed {
    display: block;
  }
  .aside-collapsed-text .topnavbar .navbar-header {
    width: 90px;
  }
  .aside-collapsed-text .topnavbar .navbar-form {
    left: 90px;
  }
}



/* ========================================================================
     Component: bootstrap-reset
 ========================================================================== */
*:focus {
  outline: 0 !important;
}

a {
  outline: none !important;
}
a.text-muted:hover,
a.text-muted:focus {
  color: #748690;
}

hr {
  border-top: 1px solid #e4eaec;
}

[data-now] {
  display: inline-block;
}

.badge {
  padding: 0.1875rem 0.4375rem;
  font-size: 0.75rem;
  border-radius: 0.625rem;
}
.badge.badge-warning {
  color: #fff !important;
}
.badge.badge-secondary {
  background-color: #3a3f51;
  color: #fff;
}

.list-group {
  line-height: 1.3;
}
.list-group .list-group-item {
  padding: 10px;
  color: #555;
}
.list-group .list-group-item.active {
  color: #fff;
}
.list-group .list-group-item.active .badge {
  background-color: #fff;
  color: #5d9cec;
}
.card > .list-group .list-group-item {
  border: 0;
}

.list-group + .card-footer {
  border-top: 0;
}

.page-header {
  padding-bottom: 0.59375rem;
  margin: 2.625rem 0 1.3125rem;
  border-bottom: 1px solid #e4eaec;
}

.well {
  border: 1px solid #dde6e9;
}

.jumbotron {
  border: 1px solid #dde6e9;
  background-color: #fff;
}
@media (min-width: 768px) {
  .jumbotron {
    padding: 2rem 1rem;
  }
}

.nav-tabs > .nav-item > .nav-link {
  font-weight: bold;
  color: #656565;
  background-color: #edf1f2;
  margin: 0;
  border: 1px solid #dde6e9;
  border-radius: 0;
  padding: 10px 20px;
}
.nav-tabs > .nav-item > .nav-link.active {
  background-color: #fff;
}
.nav-tabs > .nav-item > .nav-link.active,
.nav-tabs > .nav-item > .nav-link.active:hover,
.nav-tabs > .nav-item > .nav-link.active:focus {
  color: inherit;
  border-bottom-color: #fff;
}

.tab-content {
  padding: 10px 20px;
  border-style: solid;
  border-width: 0 1px 1px 1px;
  border-color: #dde6e9;
}
.nav-pills + .tab-content {
  border: 0;
  padding: 0;
}
.p-0 .tab-content {
  padding: 0 !important;
}

.form-control {
  box-shadow: 0 0 0 #000 !important;
  font-size: 0.875rem;
}
.form-control:focus {
  border-color: #66afe9;
}

.form-control-sm,
select.form-control-sm {
  font-size: 0.75rem;
  height: 31px;
}

.custom-select {
  -webkit-appearance: none;
}

.custom-control-label::before {
  top: 0.19rem;
  border: 1px solid #dde6e9;
}

fieldset {
  padding-bottom: 20px;
  border-bottom: 1px dashed #eee;
  margin-bottom: 20px;
}
fieldset.last-child,
fieldset:last-child {
  border-bottom: 0;
}
fieldset .form-group {
  margin-bottom: 0;
}

.input-group-text {
  font-size: 0.875rem;
}

@media (max-width: 767.98px) {
  input[type="text"],
  input[type="email"],
  input[type="search"],
  input[type="password"] {
    -webkit-appearance: none;
  }
}

.popover {
  box-shadow: 0 0 0 #000;
  border-color: #eee;
  border-bottom: 2px solid #e4eaec;
  border-radius: 0.2rem;
}
.popover .popover-title {
  border: 0;
}

.nav.nav-pills .active > a {
  background-color: #5d9cec;
}

.dropdown-menu {
  border-radius: 0.2rem;
  font-size: 14px;
  padding: 0.3125rem 0;
  box-shadow: rgba(0, 0, 0, 0.176) 0px 6px 12px;
  border-color: #e1e1e1;
}
.dropdown-menu .dropdown-item {
  line-height: 1.52857143;
  padding: 0.1875rem 1.25rem;
}

.dropdown-header {
  color: #a1a2a3;
}

.navbar-top .navbar-nav > .active > a {
  color: #999;
}
.navbar-top .navbar-nav > .active > a:hover,
.navbar-top .navbar-nav > .active > a:focus {
  color: #d1d2d3;
}

.navbar-default .navbar-nav .open .dropdown-menu > li > a {
  color: #666;
}
.navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
.navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
  color: #222;
}

.topnavbar,
.navbar,
.navbar .dropdown-menu {
  filter: none !important;
}

/* ========================================================================
     Component: bootstrap-custom
 ========================================================================== */
.container-sm {
  max-width: 540px;
  width: auto;
}

.container-md {
  max-width: 720px;
  width: auto;
}

.container-lg {
  max-width: 960px;
  width: auto;
}

.row-flush {
  margin: 0;
}
.row-flush > .col,
.row-flush > [class*="col-"] {
  padding-left: 0;
  padding-right: 0;
}

.breadcrumb {
  font-weight: normal;
  border-radius: 0;
  color: #909fa7;
  padding: 10px 20px;
}

.content-heading .breadcrumb {
  font-size: 0.8125rem;
  margin-bottom: 0;
}

.content-heading + .breadcrumb {
  margin: -25px -25px 20px -20px;
  background-color: #fafbfc;
  border-top: 1px solid #cfdbe2;
  border-bottom: 1px solid #cfdbe2;
}

.progress-sm {
  height: 15px;
}

.progress-xs {
  height: 8px;
}

.badge-inverse {
  color: #fff;
  background-color: #131e26;
}
.badge-inverse[href]:hover,
.badge-inverse[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #020304;
}

.badge-green {
  color: #fff;
  background-color: #37bc9b;
}
.badge-green[href]:hover,
.badge-green[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #2b957a;
}

.badge-pink {
  color: #fff;
  background-color: #f532e5;
}
.badge-pink[href]:hover,
.badge-pink[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #e90bd6;
}

.badge-purple {
  color: #fff;
  background-color: #7266ba;
}
.badge-purple[href]:hover,
.badge-purple[href]:focus {
  color: #fff;
  text-decoration: none;
  background-color: #564aa3;
}

.form-control-rounded {
  border-radius: 100px;
}

/* ========================================================================
     Component: animate
 ========================================================================== */
@-webkit-keyframes fadeOutUpShort {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

@keyframes fadeOutUpShort {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
    -webkit-transform: translate3d(0, -20px, 0);
    -ms-transform: translate3d(0, -20px, 0);
    transform: translate3d(0, -20px, 0);
  }
}

.fadeOutUpShort {
  -webkit-animation-name: fadeOutUpShort;
  animation-name: fadeOutUpShort;
}

@-webkit-keyframes fadeInUpShort {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUpShort {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(0, 20px, 0);
    -ms-transform: translate3d(0, 20px, 0);
    transform: translate3d(0, 20px, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInUpShort {
  -webkit-animation-name: fadeInUpShort;
  animation-name: fadeInUpShort;
}

@-webkit-keyframes zoomInShort {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  50% {
    opacity: 1;
  }
}

@keyframes zoomInShort {
  0% {
    opacity: 0;
    -webkit-transform: scale3d(0.95, 0.95, 0.95);
    -ms-transform: scale3d(0.95, 0.95, 0.95);
    transform: scale3d(0.95, 0.95, 0.95);
  }
  50% {
    opacity: 1;
  }
}

.zoomInShort {
  -webkit-animation-name: zoomInShort;
  animation-name: zoomInShort;
}

@-webkit-keyframes zoomBack {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 0;
  }
}

@keyframes zoomBack {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
    -webkit-transform: scale3d(0.5, 0.5, 0.5);
    -ms-transform: scale3d(0.5, 0.5, 0.5);
    transform: scale3d(0.5, 0.5, 0.5);
  }
  100% {
    opacity: 0;
  }
}

.zoomBack {
  -webkit-animation-name: zoomBack;
  animation-name: zoomBack;
}

@-webkit-keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translate3d(-20px, 0, 0);
    -ms-transform: translate3d(-20px, 0, 0);
    transform: translate3d(-20px, 0, 0);
  }
  100% {
    opacity: 1;
    -webkit-transform: none;
    -ms-transform: none;
    transform: none;
  }
}

.fadeInLeft {
  -webkit-animation-name: fadeInLeft;
  animation-name: fadeInLeft;
}
